.greeting {
  margin-left: 10%;
  margin-top: 20%;
  color: white;
}

.summary {
  position: relative;
  margin-left: 5%;
  margin-right: 65%;
  margin-top: 5%;
  font-size: larger;
  text-align: center;
  color: white;
}
