body {
  background-image: url('./images/bg.png');
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.greeting {
  margin-left: 10%;
  margin-top: 20%;
  color: white;
}

.summary {
  position: relative;
  margin-left: 5%;
  margin-right: 65%;
  margin-top: 5%;
  font-size: larger;
  text-align: center;
  color: white;
}

.bg {
  background-position: top;
}
